.background {
    position: relative;
    background: url('/images/background-desktop.jpg')
    no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
}
    
@media screen and (max-width: 768px) {
    .background {
        background: url('/images/background-desktop.jpg')
        no-repeat center center;
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}   

